body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #fffb00;
    color: #0d0978;
    
}

h1 {
    color: #ea0000;
    font-size: 36pt;
}
h2 {
    color: #7d7904;
    font-size: 28pt;
}
h3 {
    color: #7d8a38;
    font-size: 20pt;
}