body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #858907;
    color: #0d0978;
    
}

h1 {
    color: #ec1616;
}
h2 {
    color: #e53434;
}
h3 {
    color: #eb7373;
}