body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #fffb00;
    color: #0d0978;
    margin: 11pt;

}

h1 {
    color: #ea0000;
    font-size: 36pt;
}
h2 {
    color: #14047d;
    font-size: 28pt;
}
h3 {
    color: #2c196e;
    font-size: 20pt;
}
p {
    font-size:14pt;
}
.text {
    margin-bottom: 12px;
}
.link a {
    color: #0066cc;
    text-decoration: none;
}

.link a:hover {
    color: #ff6600;
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

.link a:active {
    color: #940404;
}

.link a:visited {
    color: #361557;
}

#photo {
    max-width: 30%;
    height: auto;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}